[workspace]
members = [
  ".",
  "openapi",
  "bench/binary_size",
  "examples/async-std",
  "examples/blocking",
  "examples/tokio",
]

[package]
name = "async-stripe"
version = "0.13.0"
description = "API bindings for the Stripe HTTP API"
authors = [
  "Anna Baldwin <abaldwin@developers.wyyerd.com>",
  "Kevin Stenerson <kestred@users.noreply.github.com>",
  "Alexander Lyon <arlyon@me.com>",
]
license = "MIT OR Apache-2.0"
readme = "README.md"
homepage = "https://github.com/arlyon/stripe-rs"
repository = "https://github.com/arlyon/stripe-rs"
documentation = "https://docs.rs/async-stripe"
keywords = ["stripe", "v1", "api"]
categories = ["api-bindings"]
edition = "2018"

[package.metadata.docs.rs]
features = ["runtime-async-std-surf"]

[lib]
name = "stripe"

[features]
default = ["full", "webhook-events"]
full = [
  "checkout",
  "billing",
  "connect",
  "fraud",
  "issuing",
  "orders",
  "sigma",
  "webhook-endpoints",
  "idempotency",
]
idempotency = []

# stripe feature groups
checkout = ["billing"]
billing = []
connect = []
fraud = []
issuing = []
orders = []
sigma = []
webhook-endpoints = []

# deserialize events from webhooks
webhook-events = ["events", "hmac", "sha2", "chrono", "hex"]
events = []

# runtimes
async = []
blocking = []

runtime-tokio-hyper = ["tokio", "hyper", "hyper-tls", "async"]
runtime-tokio-hyper-rustls = ["tokio", "hyper", "hyper-rustls", "async"]
runtime-blocking = ["tokio", "tokio/rt", "hyper", "hyper-tls", "blocking"]
runtime-blocking-rustls = [
  "tokio",
  "tokio/rt",
  "hyper",
  "hyper-rustls",
  "blocking",
]
runtime-async-std-surf = ["async-std", "surf", "async"]

[dependencies]
async-std = { version = "1.9", optional = true }
bumpalo = {version = "=3.8.0", optional = true } # to avoid msrv bump
chrono = { version = "0.4", features = ["serde"], optional = true }
thiserror = "1.0.24"
hyper = { version = "0.14", default-features = false, features = ["http1", "http2", "client", "tcp"], optional = true }
hyper-tls = { version = "0.5", optional = true }
hyper-rustls = { version = "0.22", optional = true }
serde = ">=1.0.79" # we use `serde(other)` which was introduced in 1.0.79
serde_path_to_error = "^0.1.5"
serde_derive = ">=1.0.79"
serde_json = "1.0"
serde_qs = "0.8"
smol_str = "0.1"
surf = { version = "2.1", optional = true }
tokio = { version = "1.2", optional = true }

# webhook support
hmac = { version = "0.12", optional = true }
sha2 = { version = "0.10", optional = true }
hex = { version = "0.4", optional = true }


[dev-dependencies]
anyhow = "1.0.38"
lazy_static = "1.4"
