@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@import "tailwindcss";
@import "fumadocs-ui/css/ocean.css";
@import "fumadocs-ui/css/preset.css";

body {
  overflow-y: scroll;
}
